@using TaskManagementSystem.Shared.DTOs
@using TaskManagementSystem.Shared.DTOs.ToDoTask

<div class="flex gap-1 rounded p-3 shadow @(ToDoTask.IsCompleted ? "bg-gray-200" : "bg-white")">
    <div class="w-1/5">
        <strong class="@(ToDoTask.IsCompleted ? "line-through decoration-2 decoration-gray-700" : "")">
            @ToDoTask.Title
        </strong>
        <p class="text-xs italic @(ToDoTask.IsCompleted ? "text-gray-500" : "")">
            @ToDoTask.DueDate.ToShortDateString()
        </p>
    </div>

    <div class="flex-1">
        <p class="@(ToDoTask.IsCompleted ? "line-through decoration-2 decoration-gray-700" : "")">
            @ToDoTask.Description
        </p>
    </div>

    <div class="flex w-1/5 items-center justify-center">
        <NavLink href="@($"task/{ToDoTask.Id}/edit")"
                 class="items-center rounded-xl px-3 py-2 text-sm font-medium
                        text-blue-700 transition hover:bg-indigo-50 focus:ring-2 focus:ring-blue-500
                        focus:ring-offset-2 focus:outline-none disabled:pointer-events-none disabled:opacity-50"
                 >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
        </NavLink>
    </div>
</div>

@code {
    [Parameter] public required ToDoTaskDto ToDoTask { get; set; }
}
